@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100&display=swap");

body {
  font-family: "Roboto Flex", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #1d7281;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.144);
}
.card:hover::before {
  transform: scale(0);
}

.card:hover {
  box-shadow: 0 0 0;
  overflow: hidden;
  width: 400px;
  height: 600px;
  border-radius: 20px;
}

.card .card-body {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  transition: 0.9s;
  font-size: 2rem;
  transform: translateY(-100vh);
  height: 600px;
}

.card:hover .card-body {
  transform: translateY(0);
}

.card img {
  border-radius: 50%;
  position: absolute;
  width: 90%;
  /* border: 6px solid white; */
  transition: 0.4s linear;
  transform: scale(1);
  box-shadow: 10px 10px 10px #00000013;
}

.card:hover img {
  border-radius: 15px;
  transform: scale(1);
}

.card a {
  font-size: 1.25rem;
  background-color: #ffffff;
  color: rgb(39, 39, 39);
  border-radius: 25px;
  text-decoration: none;
  position: absolute;
  transition: 0.5s;
  padding: 20px;
  bottom: 20px;
  transform: scale(0);
}

.card:hover a {
  transform: scale(1);
}

.card .card-title {
  font-weight: 900;
}
