@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200&display=swap");

body {
  font-family: "Roboto Flex", sans-serif;
}

.card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.548);
  transition: all 0.8s;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.card:hover {
  width: 500px;
  height: 780px;
  border-radius: 30px;
}
